@import './variables.scss';

// General
body {
    background: $blue-1;
}

// Backgrounds
.bg-blue1 {
    background: $blue-1;
}

.bg-white {
    background: $white;
}

.bg-green {
    background: $green !important;
}

.bg-orange {
    background: $orange !important;
}

// Titles and fonts
.title {
    margin-bottom: 16px !important;
    text-align: center;
}

.fc-blue-1 {
    color: $blue-1;
}

.fc-white {
    color: $white;
}

.fc-blue {
    color: $blue;
}

.fc-yellow {
    color: $yellow;
}

.fw-bolder {
    font-weight: bolder !important;
}


// App styles
#productivity-app {

    .productivity-app__header {
        margin: 32px 0px;
    }

    .productivity-app__content {
        .content-section {
            display: flex;
            justify-content: space-evenly;
            
            .container {
                width: 100%;
                max-width: 350px;
                padding: 24px;
                border-radius: 10px;
                margin: 0 12px;
                background: $white;
            }
    
            #tasks-timer {
                .timer-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 150px;
                    margin-bottom: 12px;

                    &:has(.timer-container__context) {
                        background: $white !important;
                        justify-content: center;
                    }
                    
                    .timer-container__context {
                        text-align: center;
                        font-weight: bolder;
                        font-size: 24px;
                    }
                }
            }
    
            #task-form {
                .form-container {
                    button {
                        background: $gray-1;
                    }
                }
            }
        
            #tasks-list {
                width: 100%;
                max-width: 500px;
        
                .tasks-list__top {
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    margin-bottom: 12px;
    
                    button.top-tabs__btn {
                        color: $gray-2;
                        font-weight: bolder;
                        background: none;
                        border-bottom: 3px solid transparent;
                        border-radius: 0;
                        box-shadow: none;
                        
                        &:hover, &.active {
                            color: $white;
                            border-bottom: 3px solid $white;
                        }
                    }
                }
    
                .tasks-list__items {
                    padding: 0 12px 0 0;
                    max-height: 550px;
                    overflow-y: scroll;

                    .list-items__item {
                        transition: all ease-in-out 0.3s;
                        background: $white;
                        border-radius: 10px;
                        border: 3px solid $blue-2;

                        &.selected, &:hover {
                            border-color: $orange;
                        }
    
                        .item-top {
                            display: flex;
                            justify-content: space-between;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            padding: 8px 12px;
                            margin-bottom: 16px;
                            
                            p {
                                font-weight: bolder !important;
                                color: $blue-1;
                                
                                &.item-top__title {
                                    text-transform: uppercase;
                                }
    
                                &.item-top__duration {
                                    font-style: italic;
                                }
                            }
                        }
    
                        .item-info {
                            padding: 0 12px;
                            margin-bottom: 16px;
                            text-align: center;
                        }
    
                        .item-options {
                            display: flex;
                            justify-content: end;
    
                            button {
                                border-radius: 0;
                                
                                &:first-child {
                                    border-top-left-radius: 8px;
                                }
        
                                &:last-child {
                                    border-bottom-right-radius: 8px;
                                }
                            }
    
                        }
    
                        &.pending {
                            .item-top {
                                background: $orange;
                            }
                        }
    
                        &.completed {
                            .item-top {
                                background: $green;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (width <= 953px) {
    #productivity-app {
    
        .productivity-app__content {
            .content-section {
                flex-direction: column;
                align-items: center;
            }

            #tasks-list {
                margin-top: 24px;
            }
        }
    }
}